<script type="text/javascript">
  window.room = '<%= params[:room] %>';
  console.log('Room is set to '+room);
  // alert("Room id is "+window.room);
</script>

<div class="row">
  <div class="small-6 large-centered columns">
    <div class="demo">
      <div id="show-chat" data-current-user="<%= current_user.id if current_user%>"> 
        <% if @chat_room.messages %>
          <% @chat_room.messages.each do |message| %>
            <% if current_user%>
              <p class="<%= 'users-message' if current_user.id == message.messager_id %>"><em><%= message.messager.full_name %></em>: <%= message.content %></p>
            <%end%>
          <% end %>
        <% end %>
      </div>
    </div>
    <form id="input-form">
      <input name="message" id="new-msg" class="demo-chat-message-input form-control" placeholder="Message"></input>
      <button class="button tiny">Send</button>
    </form>
  </div>
</div>

</body>