<nav>
  <div>
      <h1><a href="#">Loci</a></h1>
  </div>

  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#" id="login-button">Login</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>

  <div id="login-form">
    <%= form_for :user do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
    <%end%>
  </div>

  <div id="signup">
  </div>
</nav>