<nav>
  <div id="main">
    <a class="logo" href="#">LOCI</a>
  </div>
    <ul id="nav-bar-list">
      <li><a href="#">About</a></li>

        <% if current_user.nil? %>
            <li ><a href="#" id="user-login-button" data-reveal-id="firstModal">Login</a></li>
            <li id="user-signup-button"><a href="#" data-reveal-id="secondModal">Sign Up</a></li>
            <li id="profile-button" style= "display: none"><a href="/profile/show">User Profile</a></li>
            <li id="logout-button" style= "display: none;"><%=link_to 'Logout', session_path, method: 'delete' %></li>
        <%else%>
            <li ><a href="#" >Welcome <%=current_user.first_name%></a></li>
            <li ><a href="/profile/show" >User Profile</a></li>
            <li ><%=link_to 'Logout', session_path, method: 'delete' %></li>
        <%end%>
    </ul>
</nav>


  <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
    <h1>Please Login</h1>
    <p><%= link_to "auth/facebook" do %><%= image_tag('fblogin.png')%><%end%></p>
    <%= form_for @user, :html => {:id => "login-form"} do |f| %>
      <% f.label :email %>
      <%= f.text_field :email, :placeholder => "Email" %>
      <% f.label :password %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <div><%= f.submit "Submit", :class => "button tiny" %></div>
    <%end%>
  </div>

  <div id="secondModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
    <h1>Please Sign Up</h1>



    <%= form_for @user, :html => {:id => "signupForm"} do |f| %>
      <% f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "First Name" %>

      <% f.label :last_name %>
      <%= f.text_field :last_name, :placeholder => "Last Name" %>

      <% f.label :address %>
      <%= f.text_field :address, :placeholder => "Address" %>

      <% f.label :email %>
      <%= f.email_field :email, :placeholder => "Email" %>

      <% f.label :password %>
      <%= f.password_field :password, :placeholder => "Password" %>

      <% f.label :password_confimation %>
      <%= f.password_field :password_confimation, :placeholder => "Password Confirmation"%>

  
      <%= select_tag "user[skill_id]", options_from_collection_for_select(@skills, "id", "skill_name") %>

      <div><%= f.submit "Submit", :class => "button tiny" %></div>


      <%end%>
  </div>


</nav>
